In [10]:
import pandas as pd

In [11]:
censors19_df = pd.read_csv("COM_ftraffic_2019.csv")
censors19_df

/Users/catherine/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (59,60,61,62,63) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Date,Hour,Bourke Street Mall (North),Bourke Street Mall (South),Melbourne Central,Town Hall (West),Princes Bridge,Flinders Street Station Underpass,Birrarung Marr,Webb Bridge,...,Lincoln-Swanston (W),Elizabeth St-La Trobe St (East),Lonsdale St - Elizabeth St (North),Bourke St Bridge,Bourke St - Spencer St (North),RMIT Bld 80 - 445 Swanston Street,Flinders La-Swanston St (West) Temporary,RMIT Building 14,380 Elizabeth St,La Trobe St (North)
0,1/01/2019,0,918,770,-1,3025,531,3284,2733,762,...,61,-1,373,-1,1286,NaN,NaN,NaN,NaN,NaN
1,1/01/2019,1,995,635,-1,3077,3854,2751,1086,336,...,84,-1,290,-1,934,NaN,NaN,NaN,NaN,NaN
2,1/01/2019,2,416,262,-1,1927,2234,2553,571,138,...,57,-1,145,-1,451,NaN,NaN,NaN,NaN,NaN
3,1/01/2019,3,382,194,-1,998,1045,1769,208,95,...,23,-1,106,-1,340,NaN,NaN,NaN,NaN,NaN
4,1/01/2019,4,165,106,-1,472,483,911,83,25,...,14,-1,49,-1,160,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,31/12/2019,19,2276,1360,3757,3455,4018,3356,1267,288,...,82,undefined,489,408,794,225,-1,528,1858,442
8756,31/12/2019,20,1993,1085,3844,3143,2529,3770,2128,365,...,71,undefined,470,372,837,125,-1,485,1926,362
8757,31/12/2019,21,1537,765,3688,3198,3230,4020,3772,456,...,58,undefined,540,590,802,4,-1,463,1796,409
8758,31/12/2019,22,1607,941,4543,3490,3253,4319,3257,541,...,53,undefined,476,1256,889,1,-1,479,1848,391
8759,31/12/2019,23,732,471,2791,2808,2106,5000,2401,621,...,58,undefined,278,1380,801,2,-1,401,1477,283

In [12]:
columns = censors19_df.columns
columns

Index(['Date', 'Hour', 'Bourke Street Mall (North)',
       'Bourke Street Mall (South)', 'Melbourne Central', 'Town Hall (West)',
       'Princes Bridge', 'Flinders Street Station Underpass', 'Birrarung Marr',
       'Webb Bridge', 'Southern Cross Station', 'Victoria Point',
       'Waterfront City', 'New Quay', 'Flagstaff Station', 'Sandridge Bridge',
       'State Library', 'Collins St (North)', 'Collins Place (South)',
       'Collins Place (North)', 'Chinatown-Swanston St (North)',
       'Chinatown-Lt Bourke St (South)', 'Bourke St-Russell St (West)',
       'Flinders St-Elizabeth St (East)', 'Spencer St-Collins St (South)',
       'Spencer St-Collins St (North)',
       'Melbourne Convention Exhibition Centre',
       'QV Market-Elizabeth St (West)', 'QV Market-Peel St', 'The Arts Centre',
       'St Kilda Rd-Alexandra Gardens', 'Lonsdale St (South)',
       'Lygon St (West)', 'City Square', 'Flinders St-Spring St (West)',
       'Flinders St-Spark La', 'Southbank', 'Queen St (West)',
       'Lygon St (East)', 'Flinders St-Swanston St (West)', 'Alfred Place',
       'Lonsdale St-Spring St (West)', 'Grattan St-Swanston St (West)',
       'Monash Rd-Swanston St (West)', 'Tin Alley-Swanston St (West)',
       'Little Collins St-Swanston St (East)',
       'Flinders La-Swanston St (West)', 'Pelham St (South)',
       'Melbourne Central-Elizabeth St (East)', 'QVM-Queen St (East)',
       'QVM-Therry St (South)', 'Faraday St-Lygon St (West)',
       'QVM-Franklin St (North)', 'Elizabeth St-Lonsdale St (South)',
       'Lincoln-Swanston (W)', 'Elizabeth St-La Trobe St (East)',
       'Lonsdale St - Elizabeth St (North)', 'Bourke St Bridge',
       'Bourke St - Spencer St (North)', 'RMIT Bld 80 - 445 Swanston Street',
       'Flinders La-Swanston St (West) Temporary', 'RMIT Building 14',
       '380 Elizabeth St', 'La Trobe St (North)'],
      dtype='object')

In [13]:
censors19_3_df = censors19_df.loc[:,['Date','Hour','Bourke Street Mall (North)','Flinders St-Spark La','QV Market-Elizabeth St (West)']]
censors19_3_df

,Date,Hour,Bourke Street Mall (North),Flinders St-Spark La,QV Market-Elizabeth St (West)
0,1/01/2019,0,918,802,637
1,1/01/2019,1,995,374,719
2,1/01/2019,2,416,98,370
3,1/01/2019,3,382,59,256
4,1/01/2019,4,165,10,197
...,...,...,...,...,...
8755,31/12/2019,19,2276,377,592
8756,31/12/2019,20,1993,470,534
8757,31/12/2019,21,1537,782,507
8758,31/12/2019,22,1607,1247,500
8759,31/12/2019,23,732,796,337

In [15]:
censors19_3_df.to_csv("censors2019_chosen3.csv", encoding="utf-8", index=False, header=True)