In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json

In [25]:
# pulling the data from the csv file I created with 3 sensors
sensors_df = pd.read_csv("../Output/1_pedestrian_csv/sensors2019_chosen3.csv")
sensors_df.head()

,Date,Hour,Bourke Street Mall (North),Flinders St-Spark La,QV Market-Elizabeth St (West)
0,1/01/2019,0,918,802,637
1,1/01/2019,1,995,374,719
2,1/01/2019,2,416,98,370
3,1/01/2019,3,382,59,256
4,1/01/2019,4,165,10,197

In [26]:
# Do all 3 sensors contain counts of -1?
print(sensors_df['Bourke Street Mall (North)'].min())
print(sensors_df['Flinders St-Spark La'].min())
print(sensors_df['QV Market-Elizabeth St (West)'].min())

-1
-1
-1

In [33]:
sensors_df.count()

Date                             8760
Hour                             8760
Bourke Street Mall (North)       8760
Flinders St-Spark La             8760
QV Market-Elizabeth St (West)    8760
dtype: int64

In [34]:
sensors_df.dtypes

Date                             object
Hour                              int64
Bourke Street Mall (North)        int64
Flinders St-Spark La              int64
QV Market-Elizabeth St (West)     int64
dtype: object

In [35]:
# Removing rows which contain counts of -1
clean_df = sensors_df.loc[(sensors_df["Bourke Street Mall (North)"] != -1) & (sensors_df["Flinders St-Spark La"] != -1) & 
                         (sensors_df["QV Market-Elizabeth St (West)"] != -1),:]
clean_df.count()

Date                             8568
Hour                             8568
Bourke Street Mall (North)       8568
Flinders St-Spark La             8568
QV Market-Elizabeth St (West)    8568
dtype: int64

In [36]:
# Checking min values for each location
print(clean_df['Bourke Street Mall (North)'].max())
print(clean_df['Bourke Street Mall (North)'].min())
print(clean_df['Flinders St-Spark La'].max())
print(clean_df['Flinders St-Spark La'].min())
print(clean_df['QV Market-Elizabeth St (West)'].max())
print(clean_df['QV Market-Elizabeth St (West)'].min())

4896
2
3708
1
2957
13

In [37]:
clean_df.to_csv("../Output/1_pedestrian_csv/sensors2019_chosen3_cleaned.csv", encoding="utf-8", index=False, header=True)

In [38]:
# grouping by the date and applying aggregates
average_daily = clean_df.groupby(["Date"])
average_daily = average_daily[['Bourke Street Mall (North)','Flinders St-Spark La', 'QV Market-Elizabeth St (West)']].mean()
average_daily.head()

,Bourke Street Mall (North),Flinders St-Spark La,QV Market-Elizabeth St (West)
Date,,,
1/01/2019,1119.375000,117.791667,363.500000
1/02/2019,1504.125000,185.708333,586.250000
1/03/2019,1458.750000,154.833333,551.000000
1/04/2019,1283.727273,138.818182,512.181818
1/05/2019,1384.791667,180.416667,588.875000

In [39]:
average_daily.to_csv("../Output/1_pedestrian_csv/sensors2019_chosen3_dailyaverage.csv", encoding="utf-8", index=False, header=True)

In [40]:
columns = average_daily.columns
print(columns)

Index(['Bourke Street Mall (North)', 'Flinders St-Spark La',
       'QV Market-Elizabeth St (West)'],
      dtype='object')

In [41]:
average_BSM = average_daily["Bourke Street Mall (North)"].mean()
average_BSM

1356.2864075797243

In [42]:
average_flind = average_daily["Flinders St-Spark La"].mean()
average_flind

146.99567358819965

In [43]:
average_QVM = average_daily["QV Market-Elizabeth St (West)"].mean()
average_QVM

606.9443503226918

In [44]:
print(average_daily['Bourke Street Mall (North)'].min())
print(average_daily['Bourke Street Mall (North)'].max())
print(average_daily['Flinders St-Spark La'].min())
print(average_daily['Flinders St-Spark La'].max())
print(average_daily['QV Market-Elizabeth St (West)'].min())
print(average_daily['QV Market-Elizabeth St (West)'].max())

132.0
2235.375
17.5
781.375
99.5
1087.7916666666667

In [45]:
# Transpose the data ready to merge to the Zomato data
average_transposed = average_daily.T
average_transposed

Date,1/01/2019,1/02/2019,1/03/2019,1/04/2019,1/05/2019,1/06/2019,1/07/2019,1/08/2019,1/09/2019,1/10/2019,...,9/03/2019,9/04/2019,9/05/2019,9/06/2019,9/07/2019,9/08/2019,9/09/2019,9/10/2019,9/11/2019,9/12/2019
Bourke Street Mall (North),1119.375000,1504.125000,1458.750000,1283.727273,1384.791667,1442.583333,1296.041667,1368.375000,1104.958333,1553.260870,...,1546.083333,1355.375000,1364.666667,1340.041667,1152.916667,1438.166667,1133.666667,1304.083333,1299.125000,1303.541667
Flinders St-Spark La,117.791667,185.708333,154.833333,138.818182,180.416667,101.375000,147.750000,143.000000,77.041667,162.478261,...,134.166667,181.666667,148.958333,111.083333,184.291667,138.791667,133.625000,146.083333,105.333333,135.250000
QV Market-Elizabeth St (West),363.500000,586.250000,551.000000,512.181818,588.875000,683.333333,388.500000,632.958333,582.208333,655.913043,...,769.000000,625.916667,581.208333,734.708333,703.958333,577.958333,383.375000,583.583333,633.041667,367.500000

In [46]:
average_transposed.to_csv("../Output/1_pedestrian_csv/sensors2019_chosen3_dailyaverage_transposed.csv", encoding="utf-8", index=False, header=True)

In [47]:
average_transposed.describe()

Date,1/01/2019,1/02/2019,1/03/2019,1/04/2019,1/05/2019,1/06/2019,1/07/2019,1/08/2019,1/09/2019,1/10/2019,...,9/03/2019,9/04/2019,9/05/2019,9/06/2019,9/07/2019,9/08/2019,9/09/2019,9/10/2019,9/11/2019,9/12/2019
count,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
mean,533.555556,758.694444,721.527778,644.909091,718.027778,742.430556,610.763889,714.777778,588.069444,790.550725,...,816.416667,720.986111,698.277778,728.611111,680.388889,718.305556,550.222222,677.916667,679.166667,602.097222
std,521.997569,675.913043,668.475475,583.880641,612.486829,672.554317,605.552942,616.771261,513.983397,705.098961,...,707.151627,592.601436,616.251271,614.501854,484.742444,660.959042,520.479904,584.735054,598.230953,618.468469
min,117.791667,185.708333,154.833333,138.818182,180.416667,101.375000,147.750000,143.000000,77.041667,162.478261,...,134.166667,181.666667,148.958333,111.083333,184.291667,138.791667,133.625000,146.083333,105.333333,135.250000
25%,240.645833,385.979167,352.916667,325.500000,384.645833,392.354167,268.125000,387.979167,329.625000,409.195652,...,451.583333,403.791667,365.083333,422.895833,444.125000,358.375000,258.500000,364.833333,369.187500,251.375000
50%,363.500000,586.250000,551.000000,512.181818,588.875000,683.333333,388.500000,632.958333,582.208333,655.913043,...,769.000000,625.916667,581.208333,734.708333,703.958333,577.958333,383.375000,583.583333,633.041667,367.500000
75%,741.437500,1045.187500,1004.875000,897.954545,986.833333,1062.958333,842.270833,1000.666667,843.583333,1104.586957,...,1157.541667,990.645833,972.937500,1037.375000,928.437500,1008.062500,758.520833,943.833333,966.083333,835.520833
max,1119.375000,1504.125000,1458.750000,1283.727273,1384.791667,1442.583333,1296.041667,1368.375000,1104.958333,1553.260870,...,1546.083333,1355.375000,1364.666667,1340.041667,1152.916667,1438.166667,1133.666667,1304.083333,1299.125000,1303.541667